.App {
  text-align: center;
}
.header{
  background-color: grey;
  color: white;
  margin:0px;
  padding: 10px;
  display: flex;
  flex-direction: start;
  gap:0.5rem;
}
.footer{
  background-color: grey;
  color: white;
  margin:0px;
  padding: 10px;
 align-items: center;
 display: flex;
 justify-content: center;
 width:100%;
}
.children{
  
  height:100vh;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.students{
  background-color: inherit;
  border:none;
  cursor:pointer
}
.students:hover{
  color: aqua;
}
.teachers{
  background-color: inherit;
  border:none;
  cursor:pointer
}
.teachers:hover{
  color: aqua;
}

.stu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.user{
  background-color: inherit;
  border:none;
  cursor:pointer;
  display: flex;
  flex-direction: end;
}

.user:hover{
  color: aqua;
}

.card{
width: 200px;
border: 1px solid black;
border-radius: 10px;
text-align: center;
background-color: blueviolet;
margin:12px;
padding: 10px;

}
.adduser{
  margin: 27px;
  padding: 15px;
  justify-content: center;
}